* {
    color: white;
    font-family: sans-serif;
}

body {
    background: #1B1F3B;
    text-align: center;
    padding-top: 10em;
}

.cards {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.card {
    display: inline-block;
    background: #2a2f50;
    padding: 1em;
    border-radius: 1em;
    width: 15em;
    margin: 1em;
}
@media only screen and (max-width: 768px) {
    .cards {
        max-width: 90%;
    }
}

iframe {
    width: fit-content;
    height: fit-content;
}

.ggod, .bad {
    white-space: pre;
    text-wrap: wrap;
}
.good::before {
    content: "Working\A";
    color: lime;
    white-space: pre;
}
.bad::before {
    content: "Not working\A";
    color: red;
    white-space: pre;
}

.warn {
    background: gold;
}
.warn, .warn * {
    color: #880;
}